*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* 1rem = standaard 16 pixels maar kan veranderd worden in html tag*/

html{
    /* REGEL 11 MAG JE NOOIT DOEN */
    /* font-size:10px;  1rem => 10px */
    font-size: 62.5%; /*bij een standaardgrootte van 16px is 1 rem nu 10px. Bij 64px lettergrootte is 1 rem 40px */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

article{
    width:15rem;
    height:15rem;
    background: red;
}

/* IN EEN MEDIAQUERY IS 1REM ALTIJD EVEN GROOT ALS DE BROWSER FONT-SIZE, ONGEACHT WAT ER IN HTML STAAT */


.vierkant{
    background: blue;
}

#vierkant{
    background:green;
}

/*
important
inline ccs zoals <article style="background: pink">
id zoals #vierkant #story
class zoals .vierkant .button .bigImage
tag zoals article, p, button. psuedo classes zoals :hover
*/